CREATE DATABASE TallerMecanico;
GO

USE [TallerMecanico]
GO
/****** Object:  Table [dbo].[CategoriasRepuesto]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasRepuesto](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[Telefono] [varchar](30) NULL,
	[Email] [varchar](150) NULL,
	[Direccion] [varchar](255) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosOT]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosOT](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineasOT]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineasOT](
	[IdLinea] [int] IDENTITY(1,1) NOT NULL,
	[IdOrden] [int] NOT NULL,
	[TipoLinea] [varchar](10) NOT NULL,
	[IdServicio] [int] NULL,
	[IdRepuesto] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarcasRepuesto]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarcasRepuesto](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesDeTrabajo]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesDeTrabajo](
	[IdOrden] [int] IDENTITY(1,1) NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaEstimada] [datetime] NULL,
	[FechaCierre] [datetime] NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[KilometrajeIngreso] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
	[IdMecanico] [int] NOT NULL,
	[IdUsuarioCreador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repuestos]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repuestos](
	[IdRepuesto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[PrecioBase] [decimal](10, 2) NOT NULL,
	[IdTipoServicio] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposServicio]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposServicio](
	[IdTipoServicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IdPerfil] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[TokenRecuperacion] [varchar](100) NULL,
	[TokenExpiracion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Patente] [varchar](20) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
	[Color] [varchar](50) NULL,
	[Kilometraje] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriasRepuesto] ON 

INSERT [dbo].[CategoriasRepuesto] ([IdCategoria], [Descripcion], [Activo]) VALUES (1, N'Filtros', 1)
INSERT [dbo].[CategoriasRepuesto] ([IdCategoria], [Descripcion], [Activo]) VALUES (2, N'Frenos', 1)
INSERT [dbo].[CategoriasRepuesto] ([IdCategoria], [Descripcion], [Activo]) VALUES (3, N'Correas', 1)
SET IDENTITY_INSERT [dbo].[CategoriasRepuesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [DNI], [Telefono], [Email], [Direccion], [Activo]) VALUES (1, N'Juan', N'Pérez', N'30123456', N'1154321234', N'juan@mail.com', N'Av. Corrientes 1234, CABA', 1)
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [DNI], [Telefono], [Email], [Direccion], [Activo]) VALUES (2, N'María', N'González', N'28765432', N'1165432345', N'maria@mail.com', N'San Martín 567, GBA', 1)
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [DNI], [Telefono], [Email], [Direccion], [Activo]) VALUES (3, N'Carlos', N'Rodríguez', N'32456789', N'1176543456', N'carlos@mail.com', N'Belgrano 890, GBA', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosOT] ON 

INSERT [dbo].[EstadosOT] ([IdEstado], [Descripcion]) VALUES (1, N'Abierta')
INSERT [dbo].[EstadosOT] ([IdEstado], [Descripcion]) VALUES (2, N'En Proceso')
INSERT [dbo].[EstadosOT] ([IdEstado], [Descripcion]) VALUES (3, N'Resuelta')
SET IDENTITY_INSERT [dbo].[EstadosOT] OFF
GO
SET IDENTITY_INSERT [dbo].[LineasOT] ON 

INSERT [dbo].[LineasOT] ([IdLinea], [IdOrden], [TipoLinea], [IdServicio], [IdRepuesto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, N'Servicio', 4, NULL, 1, CAST(55000.00 AS Decimal(10, 2)))
INSERT [dbo].[LineasOT] ([IdLinea], [IdOrden], [TipoLinea], [IdServicio], [IdRepuesto], [Cantidad], [PrecioUnitario]) VALUES (2, 1, N'Repuesto', NULL, 4, 1, CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[LineasOT] ([IdLinea], [IdOrden], [TipoLinea], [IdServicio], [IdRepuesto], [Cantidad], [PrecioUnitario]) VALUES (4, 3, N'Servicio', 6, NULL, 1, CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[LineasOT] OFF
GO
SET IDENTITY_INSERT [dbo].[MarcasRepuesto] ON 

INSERT [dbo].[MarcasRepuesto] ([IdMarca], [Nombre], [Activo]) VALUES (1, N'NGK', 1)
INSERT [dbo].[MarcasRepuesto] ([IdMarca], [Nombre], [Activo]) VALUES (2, N'Bosch', 1)
INSERT [dbo].[MarcasRepuesto] ([IdMarca], [Nombre], [Activo]) VALUES (3, N'Gates', 1)
SET IDENTITY_INSERT [dbo].[MarcasRepuesto] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdenesDeTrabajo] ON 

INSERT [dbo].[OrdenesDeTrabajo] ([IdOrden], [FechaIngreso], [FechaEstimada], [FechaCierre], [Descripcion], [KilometrajeIngreso], [IdEstado], [IdVehiculo], [IdMecanico], [IdUsuarioCreador]) VALUES (1, CAST(N'2026-06-24T19:58:41.220' AS DateTime), CAST(N'2026-07-01T00:00:00.000' AS DateTime), NULL, N'anda mal', 47000, 2, 2, 2, 3)
INSERT [dbo].[OrdenesDeTrabajo] ([IdOrden], [FechaIngreso], [FechaEstimada], [FechaCierre], [Descripcion], [KilometrajeIngreso], [IdEstado], [IdVehiculo], [IdMecanico], [IdUsuarioCreador]) VALUES (2, CAST(N'2026-06-26T21:08:56.510' AS DateTime), CAST(N'2026-06-27T00:00:00.000' AS DateTime), NULL, N'Tira humo con olor a Parisienne', 80000, 2, 1, 2, 3)
INSERT [dbo].[OrdenesDeTrabajo] ([IdOrden], [FechaIngreso], [FechaEstimada], [FechaCierre], [Descripcion], [KilometrajeIngreso], [IdEstado], [IdVehiculo], [IdMecanico], [IdUsuarioCreador]) VALUES (3, CAST(N'2026-06-26T23:50:55.697' AS DateTime), CAST(N'2026-06-26T00:00:00.000' AS DateTime), CAST(N'2026-06-27T00:08:39.570' AS DateTime), N'Ta cansao jefe', 95000, 4, 3, 2, 3)
SET IDENTITY_INSERT [dbo].[OrdenesDeTrabajo] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([IdPerfil], [Descripcion], [Activo]) VALUES (1, N'Supervisor', 1)
INSERT [dbo].[Perfiles] ([IdPerfil], [Descripcion], [Activo]) VALUES (2, N'Administracion', 1)
INSERT [dbo].[Perfiles] ([IdPerfil], [Descripcion], [Activo]) VALUES (3, N'Mecanico', 1)
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Repuestos] ON 

INSERT [dbo].[Repuestos] ([IdRepuesto], [Codigo], [Descripcion], [IdMarca], [IdCategoria], [PrecioCompra], [PrecioVenta], [StockActual], [StockMinimo], [Activo]) VALUES (1, N'NGK-BKR6E', N'Bujía BKR6E', 1, 5, CAST(800.00 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), 20, 5, 1)
INSERT [dbo].[Repuestos] ([IdRepuesto], [Codigo], [Descripcion], [IdMarca], [IdCategoria], [PrecioCompra], [PrecioVenta], [StockActual], [StockMinimo], [Activo]) VALUES (2, N'BOSCH-0450', N'Filtro de aceite 0450', 2, 1, CAST(1200.00 AS Decimal(10, 2)), CAST(1800.00 AS Decimal(10, 2)), 14, 4, 1)
INSERT [dbo].[Repuestos] ([IdRepuesto], [Codigo], [Descripcion], [IdMarca], [IdCategoria], [PrecioCompra], [PrecioVenta], [StockActual], [StockMinimo], [Activo]) VALUES (3, N'BOSCH-F026', N'Filtro de aire F026', 2, 1, CAST(900.00 AS Decimal(10, 2)), CAST(1400.00 AS Decimal(10, 2)), 0, 5, 1)
SET IDENTITY_INSERT [dbo].[Repuestos] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([IdServicio], [Descripcion], [PrecioBase], [IdTipoServicio], [Activo]) VALUES (1, N'Cambio de filtros', CAST(55000.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Servicios] ([IdServicio], [Descripcion], [PrecioBase], [IdTipoServicio], [Activo]) VALUES (2, N'Cambio de aceite', CAST(3500.00 AS Decimal(10, 2)), 4, 1)
INSERT [dbo].[Servicios] ([IdServicio], [Descripcion], [PrecioBase], [IdTipoServicio], [Activo]) VALUES (3, N'Cambio de filtro de aire', CAST(1500.00 AS Decimal(10, 2)), 4, 1)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposServicio] ON 

INSERT [dbo].[TiposServicio] ([IdTipoServicio], [Descripcion], [Activo]) VALUES (1, N'Mecánica General', 1)
INSERT [dbo].[TiposServicio] ([IdTipoServicio], [Descripcion], [Activo]) VALUES (2, N'Electricidad', 1)
INSERT [dbo].[TiposServicio] ([IdTipoServicio], [Descripcion], [Activo]) VALUES (3, N'Chapa y Pintura', 1)
SET IDENTITY_INSERT [dbo].[TiposServicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Email], [Username], [Password], [IdPerfil], [Activo], [TokenRecuperacion], [TokenExpiracion]) VALUES (1, N'Admin', N'Sistema', N'admin@taller.com', N'admin', N'admin123', 1, 1, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Email], [Username], [Password], [IdPerfil], [Activo], [TokenRecuperacion], [TokenExpiracion]) VALUES (2, N'Mario', N'Julepe', N'maritojulepe@hotmail.com', N'marito', N'marito123', 3, 1, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Email], [Username], [Password], [IdPerfil], [Activo], [TokenRecuperacion], [TokenExpiracion]) VALUES (3, N'Susana', N'Horia', N'suzanahoria@fmail.com', N'susi_administracion', N'susi123', 2, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([IdVehiculo], [Patente], [Marca], [Modelo], [Anio], [Color], [Kilometraje], [IdCliente], [Activo]) VALUES (1, N'AB123CD', N'Ford', N'Focus', 2018, N'Rojo', 75000, 1, 1)
INSERT [dbo].[Vehiculos] ([IdVehiculo], [Patente], [Marca], [Modelo], [Anio], [Color], [Kilometraje], [IdCliente], [Activo]) VALUES (2, N'EF456GH', N'Volkswagen', N'Gol', 2020, N'Blanco', 40000, 2, 1)
INSERT [dbo].[Vehiculos] ([IdVehiculo], [Patente], [Marca], [Modelo], [Anio], [Color], [Kilometraje], [IdCliente], [Activo]) VALUES (3, N'IJ789KL', N'Chevrolet', N'Onix', 2021, N'Negro', 25000, 3, 1)
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__C035B8DD9DF1FE35]    Script Date: 30/6/2026 20:46:17 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Repuesto__06370DAC84E7608E]    Script Date: 30/6/2026 20:46:17 ******/
ALTER TABLE [dbo].[Repuestos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__536C85E40B88A372]    Script Date: 30/6/2026 20:46:17 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D105342C9080B1]    Script Date: 30/6/2026 20:46:17 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehiculo__CA655166CB8C81F3]    Script Date: 30/6/2026 20:46:17 ******/
ALTER TABLE [dbo].[Vehiculos] ADD UNIQUE NONCLUSTERED 
(
	[Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoriasRepuesto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[LineasOT] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[LineasOT] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[MarcasRepuesto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[OrdenesDeTrabajo] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[OrdenesDeTrabajo] ADD  DEFAULT ((0)) FOR [KilometrajeIngreso]
GO
ALTER TABLE [dbo].[Perfiles] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Repuestos] ADD  DEFAULT ((0)) FOR [PrecioCompra]
GO
ALTER TABLE [dbo].[Repuestos] ADD  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[Repuestos] ADD  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Repuestos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Repuestos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((0)) FOR [PrecioBase]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((0)) FOR [Kilometraje]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[LineasOT]  WITH CHECK ADD FOREIGN KEY([IdOrden])
REFERENCES [dbo].[OrdenesDeTrabajo] ([IdOrden])
GO
ALTER TABLE [dbo].[LineasOT]  WITH CHECK ADD FOREIGN KEY([IdRepuesto])
REFERENCES [dbo].[Repuestos] ([IdRepuesto])
GO
ALTER TABLE [dbo].[LineasOT]  WITH CHECK ADD FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicios] ([IdServicio])
GO
ALTER TABLE [dbo].[OrdenesDeTrabajo]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosOT] ([IdEstado])
GO
ALTER TABLE [dbo].[OrdenesDeTrabajo]  WITH CHECK ADD FOREIGN KEY([IdMecanico])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[OrdenesDeTrabajo]  WITH CHECK ADD FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[OrdenesDeTrabajo]  WITH CHECK ADD FOREIGN KEY([IdVehiculo])
REFERENCES [dbo].[Vehiculos] ([IdVehiculo])
GO
ALTER TABLE [dbo].[Repuestos]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasRepuesto] ([IdCategoria])
GO
ALTER TABLE [dbo].[Repuestos]  WITH CHECK ADD FOREIGN KEY([IdMarca])
REFERENCES [dbo].[MarcasRepuesto] ([IdMarca])
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD FOREIGN KEY([IdTipoServicio])
REFERENCES [dbo].[TiposServicio] ([IdTipoServicio])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfiles] ([IdPerfil])
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[LineasOT]  WITH CHECK ADD CHECK  (([TipoLinea]='Repuesto' OR [TipoLinea]='Servicio'))
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarLineaOT]    Script Date: 30/6/2026 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarLineaOT]
    @idLinea INT
AS
BEGIN
    UPDATE Repuestos 
    SET StockActual = StockActual + l.Cantidad
    FROM Repuestos r
    INNER JOIN LineasOT l ON r.IdRepuesto = l.IdRepuesto
    WHERE l.IdLinea = @idLinea AND l.TipoLinea = 'Repuesto'

    DELETE FROM LineasOT WHERE IdLinea = @idLinea
END
GO
